* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}
body {
    font-family: Arial;
    background-color: #3498DB;
    padding: 50px;
}
.login {
    margin: 150px auto;
    width: 300px;

}
.login-screen {
    background-color: #FFF;
    padding: 20px;
    padding-right:20px;  
    padding-left:20px;  
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.app-title {
    text-align: center;
    color: #777;
}

.login-form {
    text-align: center;

}
.control-group {
    margin-bottom: 10px;
}

input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    margin-bottom: 10px;
    width: 350px;
    transition: border .5s;
}
label.error{
    display: block;
    color:red;
}

input:focus {
    border: 2px solid #3498DB;
    box-shadow: none;
}

.btn {
    border: 2px solid transparent;
    background: #3498DB;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
    cursor: pointer;
    margin-top:20px;
}

.btn:hover {
    background-color: #2980B9;
}

body{
    background-image: url("wsallpaper.jpg");
    width:100%;margin:auto;min-width:600px;max-width:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-style: oblique;
    font-size: large;
}