/* Version no responsive*/

@charset "UTF-8";
@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600";

/* Excepciones */

#header
{   
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%; 
    background-color: #3dd372;
    display: block;

}

.contenedor {
    position: fixed;
}

.cajitaForm {
    background-color: #e2e2e2;
    width: 600px;
    height: 115%;
    position: relative;
    margin: auto;
    top: -200%;

}

.textitowasabi{
    position: absolute;
    float: left;
    top: 18px;
    left: 81px;
    font-size: 20px;
    color: #ffffff;
}

.textito {
    color: #93e2ba;
}
input:focus,textarea:focus{
    color: red;
}
#logo img {
    position: absolute;
    width: 80px;
    height: 72px;
    top: -2px;
    margin: none;
    padding: none;

}

body {
    margin: 0;
    padding: 0;
    background-color: #e2e2e2 ;

}

.divHeader {
    background: linear-gradient (to bottom right, white, #3dd372);
}

.contenedor {
    background: #3dd372;
    box-shadow: 00 2px rgba(0,0,0,0.1);
    min-width: 1000px;
    width: 100%;
    z-index: 1000;

}

.header {
    height: 100px;
}




#formInicioSesion .textito {
    color: black;
    font-family: 'Helvatica Neue', sans-serif;
}

.botonFormInicio {
    border: 0 solid #1D3871;
    background-image: webkit-linear-gradient (top, #637BAD, #4F67A4);
    font-weight: normal;
    color: #fff;
}

.bloqueparallax p {
    position: relative;
    left: 40px;
    top: 250px;
    font-size: 72px;
    color: #ffffff;
    float: left;
    text-align: left; 
    margin: none; 
    padding: none;
    text-shadow: 2px 2px 8px #757575

}
.bloqueparallax div {
    width: 800px;
}

.dropdownkey{
    position: absolute;
    width: 60px;
    height: 40px;
    top: 15px;
    left: 1100px;
    display: inline-block;
    margin: none;

    background-color: transparent;   
    background-image: url("../img/room-key.png");
    background-repeat: no-repeat;

    background-color: transparent;

}


#formAdmin {
    position: relative;
    left: -190%;
    width: 220px;
    height: 290px;
    background-color: #5dc374;
    transition: all .2s ease-in;
    margin-top: 4em;
    margin-left: 3em;
    padding: 1em;
}

.formAdmin label {
    width: 90%;
    color: black;
    margin: 1px;
    padding: 0px;
    font-size: 14px;
}

.formAdmin input[type="text"], .formAdmin input[type="password"]{ 

    position: relative;
    width: 100%;
    left: 1%;
    background-color: #e2e2e2;
    box-shadow: inset 0 0 0 0.8px #bdbdbd;
    color: #ffffff !important;
    border-radius: 8px;
    cursor: pointer;
    font-size: .75em;
    font-weight: 400;
    height: 2.5em;
    letter-spacing: 1px;
    padding: 1px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    border: solid .2px #3dd372;
    outline: 0;
    margin-top: 0px;

}

.passpriv {
    margin-bottom: 1em;
}

.formAdmin .subpriv {
    width: 100%;
    background-color: #3dd372;
    box-shadow: inset 0 0 0 0.8px #bdbdbd;
    color: #ffffff !important;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-size: .75em;
    font-weight: 400;
    height: 2.5em;
    padding: 0 4em;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    border-color: #bdbdbd;

}

.formAdmin .subpriv value {
    text-align: center;
}

/*!Importante, problema con el sistema de CHECKBOX*/
input[type=checkbox]{
    display: block;
}
/*
input[type=checkbox]:checked ~ .remove-check{
display: block;
}
*/
input[type=checkbox]:checked ~ #formAdmin{
    display: none;
}

#formAdmin {
    display: block;
    /*display: none;*/
}

.divFormulario {
    position: absolute;
    width: 100%;
    float: left;
    left: 122px;
    top: 12px;
    padding-left: 90px;
    padding-top: 0 auto;

}

.imgs{
    width:100%;min-width:600px;max-width:100%;
} 

.barratext{
    margin: 1em;


}

.formularioCSS
{

    margin-left: 42%;
    font-family: sans-serif;

}

h1{
    text-align: center;

}

a{
    color: #bdbdbd;
    font-weight:  bolder;
}

.hrCSS {
    border-left:none; 
    border-right:none; 
    height: 6px; 
}

.textoFormInicio .textito {
    position: absolute;
    left: 60px ;
    display: flex;
    font-size: 15px;
    font-family: sans-serif;
    color: white;

}
.separacionDiv{
    margin-right: 3em;
}

.botonFormInicio {
    position: static;
    display: flex;
    font-size: 15px;
    font-family: sans-serif;
    color: #bdbdbd;
    background-color: #93e2ba;

}

#DivInicio {
    width: 100%;  
}

.TituloRegistro {
    color: #ffffff;
    font-family:sans-serif;
    font-size: 55px ;
    position: relative;
    top: 50%;
    left: -9%;
}

label.error {

    color: red;
}

#DivGaleria{
    color:white;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.0);
    margin: 0 auto;
    max-width:100%;
    width: 100%;
}

section{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height:1100px;
    margin: 0 auto;
    max-width: 100%;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}

#bloque1{
    background-image: url("../img/seccion1.png");
    width: 100%;
}

#bloque2{
    background-image: url("../img/seccion2.png");
}

#bloque3{
    background-image: url("../img/seccion3.png")

} 


/* Generales -responsive*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

body {
    -ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {

    html, body {
        min-width: 320px;
    }

}

body {
    background: #fff;
}

body.is-loading *, body.is-loading *:before, body.is-loading *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

body, input, select, textarea {
    color: #f6f7f8;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 14pt;
    font-weight: 400;
    line-height: 1.65;
}

@media screen and (max-width: 1680px) {

    body, input, select, textarea {
        font-size: 12pt;
    }

}

@media screen and (max-width: 1280px) {

    body, input, select, textarea {
        font-size: 12pt;
    }

}

@media screen and (max-width: 980px) {

    body, input, select, textarea {
        font-size: 10pt;
    }

}

@media screen and (max-width: 736px) {

    body, input, select, textarea {
        font-size: 12pt;
    }

}

@media screen and (max-width: 480px) {

    body, input, select, textarea {
        font-size: 12pt;
    }

}

a {
    color: #6cc091;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

strong, b {
    color: #555;
    font-weight: 600;
}

em, i {
    font-style: sans-serif;
}

p {
    margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #555;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 1em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

h2 {
    font-size: 1.85em;
    font-weight: 300;
}

h3 {
    font-size: 1.75em;
}

@media screen and (max-width: 480px) {

    h3 {
        font-size: 1.25em;
    }

}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 0.9em;
}

h6 {
    font-size: 0.7em;
}

sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

blockquote {
    border-left: solid 4px #dbdbdb;
    font-style: italic;
    margin: 0 0 2em 0;
    padding: 0.5em 0 0.5em 2em;
}

code {
    background: rgba(144, 144, 144, 0.075);
    border-radius: 0;
    border: solid 1px #dbdbdb;
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.25em 0.65em;
}

pre {
    -webkit-overflow-scrolling: touch;
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0 2em 0;
}

pre code {
    display: block;
    line-height: 1.75;
    padding: 1em 1.5em;
    overflow-x: auto;
}

hr {
    border: 0;
    border-bottom: solid 1px #dbdbdb;
    margin: 2em 0;
}

hr.major {
    margin: 3em 0;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.inner {
    max-width: 75em;
    margin: 0 auto;
}

@media screen and (max-width: 1280px) {

    .inner {
        max-width: 90%;
    }

}

@media screen and (max-width: 480px) {

    .inner {
        max-width: 90%;
    }

}

form {
    margin: 0 0 2em 0;
}

form .field {
    margin-bottom: 1.5em;
}

form .field.half {
    display: inline-block;
    width: 48%;
}

form .field.half.first {
    margin-right: 3%;
}

@media screen and (max-width: 980px) {

    form .field.half {
        display: block;
        width: 100%;
    }

    form .field.half.first {
        margin-right: 0;
    }

}

label {
    color: #555;
    display: block;
    font-size: 0.9em;
    font-weight: 600;
    margin: 0 0 1em 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="submit"]
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: #6cc091;
    border-radius: 9px;
    border: none;
    border: solid 1px #7dcca9;
    color: #fff;
    display: block;
    outline: 0;
    margin-right: 10px;
    text-decoration: none;
    padding:auto;
    margin-right: 3em;
    width: 98%;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid,
select:invalid,
textarea:invalid {
    box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
    border-color: #4bae77;
    box-shadow: 0 0 0 1px #4bae77;
}

.select-wrapper {
    text-decoration: none;
    display: block;
    position: relative;
}

.select-wrapper:before {
    content: "ÔÅ∏";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.select-wrapper:before {
    color: #fff;
    display: block;
    height: 2em;
    line-height: 2.75em;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 2em;
}
/*---------------------*/
.select-wrapper select::-ms-expand {
    display: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
    height: 2.2em;
}

textarea {
    padding: 0.75em 1em;
}

::-webkit-input-placeholder {
    color: #70daa8 !important;
    opacity: 1.0;
}

:-moz-placeholder {
    color: #70daa8 !important;
    opacity: 1.0;
}

::-moz-placeholder {
    color: #70daa8 !important;
    opacity: 1.0;
}

:-ms-input-placeholder {
    color: #70daa8 !important;
    opacity: 1.0;
}

.formerize-placeholder {
    color: #70daa8 !important;
    opacity: 1.0;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: transparent;
    box-shadow: inset 0 0 0 0.8px #ffffff;
    color: #ffffff !important;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-size: .75em;
    font-weight: 400;
    height: 2.5em;
    line-height: 3em;
    letter-spacing: 2px;
    padding: 0 4em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    border-color: #ffffff;
}
/*asdfas*/
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
    background-color: #93e2ba;
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button:active,
.button:active {
    background-color: pink;
}

input[type="submit"].icon,
input[type="reset"].icon,
input[type="button"].icon,
button.icon,
.button.icon {
    padding-left: 1.35em;
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
    margin-right: 1em;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
button.fit,
.button.fit {
    display: block;
    margin: 0 0 1em 0;
    width: 20%;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
button.small,
.button.small {
    font-size: 0.8em;
}

input[type="submit"].big,
input[type="reset"].big,
input[type="button"].big,
button.big,
.button.big {
    font-size: 1.35em;
}

input[type="submit"].alt,
input[type="reset"].alt,
input[type="button"].alt,
button.alt,
.button.alt {
    background-color: transparent;

    color: #fff !important;
}

input[type="submit"].alt:hover,
input[type="reset"].alt:hover,
input[type="button"].alt:hover,
button.alt:hover,
.button.alt:hover {
    background-color: #ffffff;
}

input[type="submit"].alt:active,
input[type="reset"].alt:active,
input[type="button"].alt:active,
button.alt:active,
.button.alt:active {
    background-color: #7ec89e;
}

input[type="submit"].alt.icon:before,
input[type="reset"].alt.icon:before,
input[type="button"].alt.icon:before,
button.alt.icon:before,
.button.alt.icon:before {
    color: #ffffff;
}

input[type="submit"].special,
input[type="reset"].special,
input[type="button"].special,
button.special,
.button.special {
    background-color: #6cc091;
    color: #ffffff !important;
}

input[type="submit"].special:hover,
input[type="reset"].special:hover,
input[type="button"].special:hover,
button.special:hover,
.button.special:hover {
    background-color: #7ec89e;
}

input[type="submit"].special:active,
input[type="reset"].special:active,
input[type="button"].special:active,
button.special:active,
.button.special:active {
    background-color: #5ab884;
}

input[type="submit"].disabled, input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
    background-color: pink !important;
    color: #fff !important;
    cursor: default;
    opacity: 0.25;
}

@media screen and (max-width: 400px) {

    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    button,
    .button {
        padding: 0;
        width: 5%;
    }

}

#footer {
    padding: 3em 0;
    background: #495370;
    color: #fff;
    text-align: center;
}


#footer input[type="submit"] {
    position: relative;
    text-align: center;
    left: 2%; 
    width: 40%;
    background-color: #3dd372;
    box-shadow: inset 0 0 0 0.8px #2ea273;
    color: #ffffff !important;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-size: .75em;
    font-weight: 400;
    height: 2.5em;
    line-height: 3em;
    letter-spacing: 2px;
    padding: 0 4em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    border-color: #e2e2e2;

}

#footer input[type="submit"].special:active{
    background-color: #93e2ba;
}

#footer input, select {
    position: relative;
    width: 60%;
    left: 4%;
    background-color: #dcdde4;
    box-shadow: inset 0 0 0 0.8px #edeef1;
    border-radius: 4.6px;
    cursor: pointer;
    display: inline-block;
    font-size: .75em;
    font-weight: 400;
    height: 2.5em;
    letter-spacing: 1px;
    padding: 0 4em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    border: solid 1px #3dd372;
    outline: 0;
    margin-top: 0px;

}

#footer label {
    text-align: left;

    text-shadow: 0.5px 0.5px #aaaaaa;
    position: relative;
    left: 23%;
    padding-top: 2px;
    padding-bottom: 0px;

}

#footer .copyright {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8em;
    margin: 0 0 3em 0;
    padding: 0;
    opacity: .90;
}

#footer .copyright a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

#footer .copyright a:hover {
    color: #FFF;
}

@media screen and (max-width: 9px) {

    #footer {
        padding: 4em 0;
    }

}

@media screen and (max-width: 9px) {

    #footer {
        padding: 3em 0;
    }

}

